vrrp_script check_haproxy {                 
    script "/home/keepalived_script/haproxy_check" 
    weight 20                              
    interval 1               
}
vrrp_instance VI_1 {             
    interface ens3
    virtual_router_id 143
    {% if inventory_hostname == 'DennisBykov-1' %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1                            
    virtual_ipaddress {                     
        192.168.100.{{hostvars['DennisBykov-1']['ansible_default_ipv4']['address'].split('.')[3]}}/24
    }
    unicast_peer {                          
        {% for vm in groups['keepalived'] %}
        {% if inventory_hostname != vm %}
        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}
global_defs {
    enable_script_security
    script_user keepalived_script
}